<h1>文章列表</h1>

<%= link_to "新增文章", new_blog_path %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <%= link_to "編輯", edit_article_path(article) %>
      <%= link_to "刪除", article,
           method: "delete",
           data: {confirm: "是否刪除"} %>
    </li>
  <% end %>
</ul>

