<h1 class="text-3xl my-3"><%= @blog.title %></h1>

<ul>
<% @articles.each do |article| %>
  <li>
    <section class="mb-4 bg-gray-50 p-3">
      <h2 class="text-xl"><%= article.title %></h2>
      <article class="text-sm">
        <%= article.content.truncate(100) %>
        ...繼續閱讀
      </article>
    </section>
  </li>
<% end %>
</ul>

<%= paginate @articles %>
