<h1><%= @blog.title %></h1>

<ul>
<% @articles.each do |article| %>
  <li>
    <h2><%= article.title %></h2>
    <article><%= article.content.truncate(20) %></article>
  </li>
<% end %>
</ul>

<%= paginate @articles %>