// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flash {
  background-color: lightblue;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}